pipeline/pl_getapi_circuits.json
{
	"name": "pl_getapi_circuits",
	"properties": {
		"activities": [
			{
				"name": "act_readapi",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "http://ergast.com/api/f1/seasons.json"
				}
			},
			{
				"name": "act_web_storeapi",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "act_readapi",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://f1racingdatalake.blob.core.windows.net/demo/seasons.json?sp=racw&st=2024-04-10T13:51:18Z&se=2024-04-10T21:51:18Z&spr=https&sv=2022-11-02&sr=c&sig=gPEc25jFO8kl8XULPLIbmdkG4yXArR%2BFT4V5ea3o0BE%3D",
					"body": {
						"value": "@activity('act_readapi').output.MRData.SeasonTable.Seasons",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"first_response": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-10T14:06:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}