pipeline/pl_ingest_race.json
{
	"name": "pl_ingest_race",
	"properties": {
		"activities": [
			{
				"name": "act_foreach_race_result",
				"description": "This activity will iterate for each race season.",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.race_list",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "season_id1",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_set_variable_round_id",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "round_id1",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_results",
							"description": "This activity will copy data based on season and round.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "act_set_variable_round_id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_rest_source_results",
									"type": "DatasetReference",
									"parameters": {
										"relative_url_results": {
											"value": "@concat(variables('season_id1'),'/',variables('round_id1'),'/results.json?limit=10000')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls2_sink_results",
									"type": "DatasetReference",
									"parameters": {
										"directory_path_results": {
											"value": "@concat('bronze/results/', formatDateTime(utcnow(), 'yyyyMMdd'))",
											"type": "Expression"
										},
										"filename_results": {
											"value": "@concat(variables('season_id1'),'/',variables('round_id1'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"race_list": {
				"type": "array"
			}
		},
		"variables": {
			"season_id1": {
				"type": "String"
			},
			"round_id1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "test"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-16T03:22:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}